<div class="body" (click)="$event.stopPropagation()">
  <h1>荣誉资质</h1>
  <p>
    <span>2020年中共上海市宝山区委政法委员会颁发宝山区“平安单位”荣誉证书</span>
    <br>
    <span>2020年中共上海宝山工业园区工作委员会颁发上海宝山工业园区管理委员会企业最佳潜力奖荣誉证书</span>
    <br>
    <span>2020年上海市人力资源和社会保障局、上海市总工会、上海市工商业联合会颁发上海市和谐企业达标牌</span>
    <br>
    <span>2020年上海宝山区人民政府颁发宝山区和谐企业达标牌</span>
    <br>
    <span>2020年上海宝山区人民政府颁发宝山区和谐企业达标荣誉证书</span>
    <br>
    <span>2023年上海宝山区人民政府颁发宝山区经济数字化转型十大示范场景</span>
    <br>
  </p>
  <div class="imgs">
    <div class="img">
      <img src="/static/荣誉/上海市和谐企业达标牌.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/荣誉/宝山区和谐企业达标牌.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/荣誉/宝山区和谐企业达标荣誉证书.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/荣誉/宝山区经济数字化转型十大示范场景.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/荣誉/平安单位.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/荣誉/最佳潜力奖.png" alt="" />
    </div>
  </div>
</div>
