<svg xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="[0, 0, width, height]">
  <g d-zoom [dZoomPosition]="'center'" #map="dZoom">
    <g>
      <image
        width="1197"
        height="658"
        href="../../../assets/工厂布局.png"
      ></image>
      <g *ngFor="let item of areas">
        <foreignObject
          [attr.x]="item.x"
          [attr.y]="item.y"
          width="134"
          height="43"
        >
          <div
            class="btn"
            [ngClass]="{ active: item === current }"
            (click)="onClick(item)"
          >
            {{ item.line }}
          </div>
        </foreignObject>
      </g>
    </g>
  </g>
  <!-- <line
      stroke="#123164"
      [attr.x1]="current.x + map.position.x + 20.5"
      [attr.y1]="current.y + map.position.y + 14.5"
      [attr.x2]="gFo.position.x + 5"
      [attr.y2]="gFo.position.y + 5"
    ></line> -->
  <g [ngClass]="[isShow ? '' : 'hidden']">
    <foreignObject
      [attr.x]="current.x + 300"
      [attr.y]="current.y - 120"
      width="354"
      height="265"
    >
      <div class="window" (click)="log()">
        <div class="top">{{ current.area }}({{ current.line }})</div>
      </div>
    </foreignObject>
  </g>
</svg>
