<svg xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="[0, 0, width, height]">
  <g d-zoom [dZoomPosition]="'center'" #map="dZoom">
    <g>
      <image
        width="1197"
        height="658"
        href="../../../assets/工厂布局.png"
      ></image>
      <line
        [ngClass]="[isShow ? '' : 'hidden']"
        stroke="#123164"
        [attr.x1]="current.x + 75"
        [attr.y1]="current.y + 15"
        [attr.x2]="125"
        [attr.y2]="455"
      ></line>
      <g *ngFor="let item of areas">
        <foreignObject
          [attr.x]="item.x"
          [attr.y]="item.y"
          width="134"
          height="43"
        >
          <div
            class="btn"
            [ngClass]="{ active: item === current }"
            (click)="onClick(item)"
          >
            {{ item.line }}
          </div>
        </foreignObject>
      </g>
      <g [ngClass]="[isShow ? '' : 'hidden']" d-zoom>
        <foreignObject [attr.x]="120" [attr.y]="450" width="354" height="265">
          <div class="window">
            <div class="top">
              <span class="title">{{ current.area }}({{ current.line }})</span>
              <span class="close" (click)="isShow = false"></span>
            </div>
            <div class="body">
              <ng-container *ngIf="current.text; else elsTpl">
                <div class="title">{{ current.title }}</div>
                <p *ngFor="let item of current.text; let last = last">
                  <img
                    *ngIf="current.imgSrc && last"
                    [src]="current.imgSrc"
                    alt=""
                  />
                  {{ item }}
                </p>
              </ng-container>
              <ng-template #elsTpl>
                <img *ngIf="current.imgSrc" [src]="current.imgSrc" alt="" />
              </ng-template>
            </div>
          </div>
        </foreignObject>
      </g>
    </g>
  </g>
</svg>
