<div class="head">
  <div class="right-top">
    安全生产 <span> {{ daysBetween }} </span> 天
  </div>
  <ng-container *ngFor="let item of total; let last = last">
    <div class="item">
      <img src="../../../assets/气泡.png" alt="" />
      <div>
        <span class="title">{{ item.title }}</span>
        <span class="value" data-unit="件">{{ item.number | number }}</span>
      </div>
    </div>
    <div class="driver" *ngIf="!last"></div>
  </ng-container>
</div>
<div class="container">
  <div class="left">
    <div class="window">
      <div class="top">产线月度生产数据</div>
      <div class="body">
        <app-g2-line [data]="lineData"></app-g2-line>
      </div>
    </div>
    <div class="window window-lg">
      <div class="top">产线介绍视频</div>
      <div class="body video">
        <ng-container *ngIf="current.videoSrc">
          <div class="video-item" *ngFor="let item of current.videoSrc">
            <video [src]="item" autoplay loop controls></video>
          </div>
        </ng-container>
      </div>
      <div class="footer">
        <div class="icon" (click)="prev()">&lt;</div>
        <div class="name">{{ current.line }}</div>
        <div class="icon" (click)="next()">&gt;</div>
      </div>
    </div>
    <div class="window window-sm">
      <div class="top">产线工作状况</div>
      <div class="grid-container">
        <!-- <div class="grid-item">
          <img src="../../assets/1在线员工.png" alt="" />
          <div>
            <span class="title">在线员工</span>
            <span class="value" data-unit="人">{{ jobSum }}</span>
          </div>
        </div> -->
        <div class="grid-item">
          <img src="../../assets/2在线设备.png" alt="" />
          <div>
            <span class="title">设备联网数</span>
            <span class="value" data-unit="台">{{ current.number }}</span>
          </div>
        </div>
        <div class="grid-item">
          <img src="../../assets/3设备检查.png" alt="" />
          <div>
            <span class="title">设备检查</span>
            <span class="value" data-unit="次">{{ 2 }}</span>
          </div>
        </div>
        <!-- <div class="grid-item">
          <img src="../../assets/4生产数量.png" alt="" />
          <div>
            <span class="title">生产数量/天</span>
            <span class="value" data-unit="件">{{ daySum }}</span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="right">
    <div class="window">
      <div class="top">立库/连廊</div>
      <div class="body">
        <img
          src="../../assets/wuliu.gif"
          style="width: calc(100% + 120px); height: 100%; margin-left: -120px"
          alt=""
        />
      </div>
    </div>
    <div class="window">
      <div class="top">当月销售情况</div>
      <div class="body">
        <div class="table">
          <div class="tr">
            <div class="th">产品名称</div>
            <div class="th">发货数量</div>
            <div class="th">客户名称</div>
            <div class="th">日期</div>
          </div>
          <div class="tbody" #table>
            <div class="tr" *ngFor="let item of storeData">
              <div class="td" [title]="item.cInvName">{{ item.cInvName }}</div>
              <div class="td" [title]="item.iQuantity">
                {{ item.iQuantity }}
              </div>
              <div class="td" [title]="item.cCusName">{{ item.cCusName }}</div>
              <div class="td" [title]="item.dDate">{{ item.dDate }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="window">
      <div class="top">工厂动态下线</div>
      <div class="body">
        <div class="table ta-left">
          <div class="tr">
            <div class="th">产品名称</div>
            <div class="th">产品编码</div>
            <div class="th">报工数量</div>
            <div class="th">时间</div>
          </div>
          <div class="tbody" #table2>
            <div class="tr" *ngFor="let item of productData">
              <div class="td" [title]="item.cInvName">{{ item.cInvName }}</div>
              <div class="td" [title]="item.cinvcode">{{ item.cinvcode }}</div>
              <div class="td">{{ item.sum }}件</div>
              <div class="td">{{ item.fdate }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-factory-map
  *cdkPortal
  [(current)]="current"
  (currentChange)="refresh($event)"
></app-factory-map>
