:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}
.right-top {
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 16px;
  padding: 8px 16px;
  box-shadow: inset -2px -2px 18px -2px rgb(91 122 168);
  background: linear-gradient(#0f295c, transparent);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--primary);
  span {
    font-size: 32px;
  }
}
.head {
  border-radius: 16px;
  padding: 16px;
  box-shadow: inset -2px -2px 18px -2px rgb(91 122 168);
  background: linear-gradient(#0f295c, transparent);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .item {
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 24px;
    > div {
      display: flex;
      flex-direction: column;
    }

    .value {
      &::after {
        content: attr(data-unit);
        font-size: 12px;
        margin-left: 8px;
      }
      color: var(--primary);
      font-size: 36px;
    }
  }
  .driver {
    display: block;
    height: 60px;
    width: 1px;
    background: linear-gradient(transparent, var(--primary), transparent);
  }
}

.container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
  }
  .btns {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    gap: 16px;
    width: 438px;
    &::after {
      display: block;
      content: "";
      height: 0;
      opacity: 0;
      width: 180px;
    }
  }
  .window {
    width: 438px;
    height: 239px;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/左侧数据背景.png);
    &.window-lg {
      background-image: url(../../assets/视频框.png);
      height: 309px;
    }
    &.window-sm {
      background-image: url(../../assets/信息框.png);
      height: 149px;
    }


    .body {
      padding: 0 4px;
      width: 100%;
      flex: 1;
      box-sizing: border-box;
      pointer-events: all;
      overflow: hidden;
      position: relative;
      &.video {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .video-item {
          overflow: hidden;
          video {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      line-height: 28px;
      padding-bottom: 4px;
      .name {
        width: 220px;
        text-align: center;
      }
      .icon {
        cursor: pointer;
        pointer-events: all;
        user-select: none;
        padding: 0 12px;
      }
    }
    .top {
      height: 36px;
      line-height: 36px;
    }
  }
}

.btn {
  pointer-events: all;
  background: transparent;
  border: none;
  width: 180px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  background-image: url(../../assets/车间未选中.png);
  &.active {
    background-image: url(../../assets/车间选中背景.png);
  }
}

.grid-container {
  height: calc(100% - 36px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  .grid-item {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    > div {
      display: flex;
      flex-direction: column;
      text-align: left;
      flex: 0 0 105px;
    }

    .value {
      &::after {
        content: attr(data-unit);
        font-size: 12px;
        margin-left: 8px;
      }
      color: var(--primary);
      font-size: 36px;
    }
  }
}

.table {
  white-space: nowrap;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &.ta-left {
    text-align: left;
  }
  .tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    .th {
      font-weight: bold;
      padding: 4px 0;
    }
    .td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .tbody {
    flex: 1;
    overflow: hidden;
  }
}
