<div class="body" (click)="$event.stopPropagation()">
  <h1>华域汽车电动系统有限公司</h1>
  <p>
    作为华域汽车全资控股子公司，隶属“智能动力”板块，致力于新能源汽车电机、电机控制器的核心技术创新，不断加强研发及制造的核心竞争力打造，完善了华域汽车在新能源汽车驱动系统领域的重要布局，是国内具有先进技术和生产能力的新能源电驱系统核心零部件供应商。
  </p>
  <div class="items">
    <div class="item">
      <img src="../../assets/detail/1创立时间.png" alt="" />
      <div>
        <span class="content">2011.3</span>
        <span class="title">创立时间</span>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/detail/2总部位置.png" alt="" />
      <div>
        <span class="content">上海浦东</span>
        <span class="title">总部位置</span>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/detail/3年销售额.png" alt="" />
      <div>
        <span class="content">￥11亿元</span>
        <span class="title">2023年销售</span>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/detail/4基地.png" alt="" />
      <div>
        <span class="content">2大基地</span>
        <span class="title">分支结构</span>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/detail/5人.png" alt="" />
      <div>
        <span class="content">600人员</span>
        <span class="title">雇员数量</span>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/detail/6产能.png" alt="" />
      <div>
        <span class="content">120万台套</span>
        <span class="title">产能规模</span>
      </div>
    </div>
  </div>
  <div class="imgs">
    <img src="../../assets/detail/1.png" alt="">
    <img src="../../assets/detail/2.png" alt="">
    <img src="../../assets/detail/3.png" alt="">
  </div>
</div>
