<div class="body" (click)="$event.stopPropagation()">
  <h1>我们的客户</h1>
  <div class="imgs">
    <div class="img">
      <img src="/static/我们的客户/合作伙伴.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/合作伙伴1.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/合作伙伴2.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/合作伙伴3.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/合作伙伴4.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/合作伙伴5.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/客户LOGO.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/客户LOGO1.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/客户LOGO10.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/客户LOGO11.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/客户LOGO2.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/客户LOGO3.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/客户LOGO4.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/客户LOGO5.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/客户LOGO6.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/客户LOGO7.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/客户LOGO8.png" alt="" />
    </div>
    <div class="img">
      <img src="/static/我们的客户/客户LOGO9.png" alt="" />
    </div>
  </div>
</div>
